<div class="well row">
<h1 class="offset1"> Create Posts </h1>
<div id="post_form" class="span3 offset1"><%= render :partial => 'form' %></div>
<div id="posts_list" class="span6"><%= render :partial => "posts" %></div>
</div>